/*
// Examples Stylesheet
// -------------------
*/

body {
	font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
	margin: 0;
	padding: 0;
}

a {
	color: #08c;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	padding: 1em;
}

.footer {
	margin-top: 50px;
	border-top: 1px solid #eee;
	padding: 20px 0;
	font-size: 12px;
	color: #999;
}

h1, h2, h3, h4, h5, h6 {
	color: #222;
	font-weight: 100;
	margin: 0.5em 0;
}

label {
	color: #999;
	display: inline-block;
	font-size: 0.85em;
	font-weight: bold;
	margin: 1em 0;
	text-transform: uppercase;
}
table {
	max-width: 800;
}
th {
	text-align: left;
}
.hint {
	margin: 15px 0;
	font-style: italic;
	color: #999;
}